.flex-container {
    width: 90%;
    margin: auto;
}

.flex-row {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    // margin-right: -.5rem;
    // margin-left: -.5rem;
}

.d-inline-block {
    display: inline-block;
}

.d-none {
    display: none;
}